#enterPassword {
    justify-content: center;
    text-align: center;
    padding-top: 135px;
}

#enterPassword .login-title {
    margin-top: 42px;
}

#enterPassword .login-text {
    max-width: 230px;
}

.monkey-logo-password {
    position: relative;
    background-image: url('../../assets/monkey/monkey3.png');
    background-size: cover;
    width: 132px;
    height: 135px;
    margin-left: auto;
    margin-right: auto;
}

.monkey-logo-password.error {
    background-image: url('../../assets/monkey/monkey4.png');
    background-size: cover;
    width: 133px;
    height: 135px;
    margin-left: auto;
    margin-right: auto;
}

#enterPassword_inputContainer {
    width: 360px;
    margin-bottom: 24px;
}

#enterPassword_button {
    width: 100%;
}

#enterPassword_showButton {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
}

#enterPassword_showButton:after {
    background-image: url("../../assets/icons/eye1_svg.svg");
}

#enterPassword_showButton.show:after {
    background-image: url("../../assets/icons/eye2_svg.svg");
}